@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFB6C1;
}

.container {
    width: 83%;
    height: 83vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(255, 105, 180);
}

.form-image{
    width: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7dc4;
    padding: 1rem;

}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-color: #fff;
    padding: 3rem;

}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: deeppink;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ff7dc4;
}

.login-button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff7dc4;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-grupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6 px #0000001c;
}

.input-box input:hover {
    background-color: #d3a5bc;
}

.input-box input:focus-sivible {
    outline: 1px solid #ff7dc4;
}

.input-box label {
    font-size: 20px;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: rgb(163, 148, 156);
}

.espec-grupo h6{
    text-align: left;
    text-decoration: solid;
    font-size: 20px;
    font-weight: 600;
}

.espec-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.espec-input label {
    padding: 3px;
}

.selecao-grupo h7{
    text-align: left;
    text-decoration: solid;
    font-size: 20px;
    font-weight: 600;
}

.selecao-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem 0;
}

.selecao-input label {
    padding: 3px;
}

.enviar-button button {
    width: 100%;
    margin-top: 10px;
    border: none;
    background-color: deeppink;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.enviar-button button:hover{
    background-color: #ff7dc4;
}

.enviar-button button a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
}

/*RESPONSIVO*/
@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px){
    .container {
        width: 90%;
        height: auto;
    }
    .input-grupo{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .espec-input{
        margin-top: 2rem;
    }
    .espec-grupo{
        flex-direction: column;
    }
}


